<!DOCTYPE hml>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Galerie Brocante achat vente objet d'art</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <header class="text-center p-4">
        <h1 class="gallery-title" data-en="The Gallery" data-fr="La Galerie">La Galerie</h1>
        <div class="language-switch">
            <button id="en-button">English</button>
            <button id="fr-button" class="active">Français</button>
        </div>
    </header>

    <main class="container mx-auto p-4">
        <!-- Introduction Section -->
        <section class="mb-8">
            <h2 class="section-title" data-en="Titan" data-fr="Titan">Titan</h2>
            <p class="art-description"data-en="Amateur painter since 1983, member of A.D.A.G.P and Taylor Foundation. Most of my works are atypical by their developed subjects and pictorial qualities. Some works are worked with 24 carat pure gold leaf. For reasons of rarity, some paintings are diamonded by myself. My master Pablo Picasso remains the source of my artistic pictorial approach."
               data-fr="Artiste peintre amateur depuis 1983 adhérent A. D. A. G. P membre de la Fondation Taylor la plupart de mes œuvres sont atypiques par leurs sujets développés et leurs qualités picturales. Certaines œuvres sont travaillées à la feuille d'or pur 24 carats Pour des raisons de raretés quelques tableaux sont diamantés par mes soins. Mon Maître Pablo Picasso reste la source de ma démarche picturale artistique.">Artiste peintre amateur depuis 1983 adhérent A. D. A. G. P membre de la Fondation Taylor la plupart de mes œuvres sont atypiques par leurs sujets développés et leurs qualités picturales. Certaines œuvres sont travaillées à la feuille d'or pur 24 carats Pour des raisons de raretés quelques tableaux sont diamantés par mes soins. Mon Maître Pablo Picasso reste la source de ma démarche picturale artistique.</p>
        </section>

        <!-- Gallery Section -->
        <section>
            <div hx-get="/img/img1" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 1" class="htmx-indicator w-full h-auto">
            </div>
            <div hx-get="/img/img2" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 2" class="htmx-indicator w-full h-auto">
            </div>
            <div hx-get="/img/img3" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 3" class="htmx-indicator w-full h-auto">
            </div>
            <div hx-get="/img/img4" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 4" class="htmx-indicator w-full h-auto">
            </div>
            <div hx-get="/img/img5" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 5" class="htmx-indicator w-full h-auto">
            </div>
            <div hx-get="/img/img6" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 6" class="htmx-indicator w-full h-auto">
            </div>
            <div hx-get="/img/img7" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 7" class="htmx-indicator w-full h-auto">
            </div>
            <div hx-get="/img/img8" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 8" class="htmx-indicator w-full h-auto">
            </div>
            <div hx-get="/img/img9" hx-trigger="load" class="art-item">
                <img src="images/bars.svg" width="50" alt="Art 9" class="htmx-indicator w-full h-auto">
            </div>
        </section>

        <!-- About Section -->
        <section class="mt-8">
            <h2 class="section-title" data-en="The Gallery" data-fr="La Galerie">La Galerie</h2>
            <p class="art-description" data-en="A gallery located in the square l'Abbé Saint-Pierre in Saint-Pierre-Eglise." data-fr="Une galerie brocante sur la place l'Abbé Saint-Pierre à Saint-Pierre-Eglise.">Une galerie brocante sur la place l'Abbé Saint-Pierre à Saint-Pierre-Eglise.</p>
            <p class="art-description" data-en="<strong>Location:</strong> 62 Pl. de l'Abbé de Saint-Pierre, 50330 Saint-Pierre-Église" data-fr="<strong>Emplacement:</strong> 62 Pl. de l'Abbé de Saint-Pierre, 50330 Saint-Pierre-Église"><strong>Emplacement:</strong> 62 Pl. de l'Abbé de Saint-Pierre, 50330 Saint-Pierre-Église</p>
            <p class="art-description" data-en="<strong>Contact Information:</strong> Phone: (123) 456-7890 | Email: info@classicartgallery.com" data-fr="<strong>Informations de contact:</strong> Téléphone: (123) 456-7890 | Email: info@classicartgallery.com"><strong>Informations de contact:</strong> Téléphone: (123) 456-7890 | Email: info@classicartgallery.com</p>
        </section>
    </main>

    <footer class="text-center p-4 mt-4">
        <p data-en="&copy; 2024 The Gallery. All rights reserved." data-fr="&copy; 2024 La Galerie Brocante achat vente objet d'art. Tous droits réservés.">&copy; 2024 La Galerie Brocante achat vente objet d'art. Tous droits réservés.</p>
        <p data-en="&copy; Created with Rust and HTMX." data-fr="&copy; Réalisé avec Rust et HTMX.">&copy; Réalisé avec Rust et HTMX.</p>
    </footer>
    
    <div class="cookie-warning" id="cookie-warning">
        <span data-en="This site does not make use of cookies for any commercial operation." data-fr="Ce site n'utilise pas de cookies à des fins commerciales.">Ce site n'utilise pas de cookies à des fins commerciales.</span>
        <button id="accept-cookies">Got it!</button>
    </div>

    <script src="js/cookies.js"></script>
    <script src="js/language-switch.js"></script>
    <!-- HTMX library -->

</body>
</html>
